@import "_mixins.scss";

.footer{
  width: 100%;
  position: relative;
  background-color: darken($text, 5%);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  .container{
    padding: 5% 0%;
  }
  @include mobile{
    padding: 5% 7.5%;
  }
  h1, h2, h3{
    margin: 0%;
  }
  h1{
    font-size: 1.75rem;
    color: white;
    margin-bottom: 2.5%;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    @include mobile{
      margin-bottom: 10%;
    }
  }
  h2{
    font-size: 1.15rem;
    line-height: 2.5rem;
    color: white;
    font-weight: 400;
    margin-bottom: 2.5%;
    @include laptop{
      font-size: 1rem;
      line-height: 2.25rem;
    }
    @include mobile{
      font-size: 0.9rem;
      line-height: 1.5rem;
    }
  }
  h3{
    font-size: 0.9rem;
    line-height: 1.25rem;
    font-weight: 300;
    margin-bottom: 2.5%;
    color:rgba(white, 0.6);
    @include laptop{
      font-size: 0.9rem;
      line-height: 1rem;
    }
    @include mobile{
      font-size: 0.9rem;
    }
  }
  .footer-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2.5%;
    @include mobile{
      grid-template-columns: 1fr 1fr;
    }
  }
  .footer-block{
    margin-bottom: 7.5%;
    @include mobile{
      margin-bottom: 10%;
    }
  }
  .footer-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 5% 0% 0% 0%;
    .footer-share{
      display: flex;
      flex-direction: row;
      margin-right: 2.5%;
      a{
        margin-right: 5px;
        svg{
          width: 15px;
          height: 15px;
          fill: rgba(white, 0.6);
        }
      }
    }
    div{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      a{
        margin-top: -0.25%;
      }
      &:first-child{
        flex: 1
      }
      &:last-child{
        flex: 1;
        justify-content: flex-end
      }
    }
    h3,a{
      color: rgba(white, 0.6);
      font-size: 0.85rem;
      margin: 0% 1% 0% 0%;
      letter-spacing: 0.075rem;
    }
    a{
      transition: opacity 0.2s;
      &:hover{
        opacity: 0.5;
      }
    }
    @include mobile{
      h3, a{
        font-size: 0.9rem;
        line-height: 1.4rem;
      }
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      div{
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 5%;
      }
      .footer-share{
        margin-right: 0%;
        a{
          margin-right: 15px;
          svg{
            width: 25px;
            height: 25px;
            fill: rgba(white, 0.6);
          }
        }
      }
    }
  }
}
