@import "_mixins.scss";

.landing{
    width: 100%;
    margin-top: 10vh;
    min-height: 90vh;
    position: relative;
    box-sizing: border-box;
    h1{
        color: lighten($text, 12.5%);
        // -webkit-text-fill-color: transparent;
        // -webkit-text-stroke-width: 2px;
        // -webkit-text-stroke-color: lighten($text, 12.5%);
        font-size: 7.25rem;
        line-height: 10rem;
    }
    @include laptop{
      h1{
        line-height: 7rem;
        font-size: 5.5rem;
      }
    }
    .scroll{
      height: 90vh;
      left: -10%;
      width: 5%;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      div{
        // position: absolute;
        // bottom: 0;
        width: 1px;
        height: 50px;
        background-color: rgba($text, 0.75);
        margin-top: 20px;
        margin-left: 1.5%;
      }
      span{
        font-size: 0.8rem;
        cursor: default;
        transform: rotate(180deg);
        letter-spacing: 0.15rem;
        writing-mode: vertical-rl;
      }
    }
}

.about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 7.5% 0%;
    .left{
        width: 55%;
    }
    .right{
        width: 25%;
    }
    h1{
        font-size: 0.9rem;
        font-weight: 300;
        color: lighten($text, 25%);
        line-height: 2.5rem;
    }
    p{
        margin: 0% 0% 5% 0%;
        font-size: 0.9rem;
        line-height: 1.5rem;
    }
    h2{
        margin: 2.5% 0%;
        font-size: 0.95rem;
        font-weight: bold;
        color: $text;
    }
    @include desktop{
      h1{
        font-size: 1rem;
      }
      h2{
        font-size: 1.05rem;
      }
      p{
        font-size: 1.05rem;
        line-height: 2rem;
      }
    }
}
