@import "_mixins.scss";
.menu{
    position: fixed;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: all 0.25s;
    z-index: 10;
    .container{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0%;
    }
    span{
        cursor: pointer;
        transition: all 0.2s;
        position: relative;
        &:before{
          position: absolute;
          content: '';
          width: 1.2vw;
          height: 1.2vw;
          top: -4px;
          right: -6px;
          background: $key1;
          border-radius: 50%;
          z-index: -1;
          opacity: 0;
          transition: opacity 0.4s;
        }
        &:hover{
          &:before{
            opacity: 1;
          }
        }
    }
    .right{
        display: flex;
        width: 20%;
        justify-content: space-between;
    }
    box-sizing: border-box;
    padding: 3% 0%;
    @include laptop{
      .right{
        width: 25%;
      }
    }
    @include mobile{
      .container{
        padding: 2.5% 7.5%;
      }
      span{
        font-size: 1rem;
      }
    }
}

.menu-hidden{
  opacity: 0;
}
.menu-appear{
  background-color: white;
  opacity: 1;
}
.menu-shadow{
  -webkit-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.05);
  box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.05);
}

.menu-button{
  cursor: pointer;
  display: block;
  font-size: 1.25rem!important;
  color: $text;
}

.menu-mobile{
  top: -0.05vh;
  width: 100%;
  height: 100vh;
  position: fixed;
  transition: all 0.4s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $text;
  .menu-button{
    color: $bg;
    position: absolute;
    top: 2.5%;
    right: 7.5%;
    font-size: 2rem!important;
  }
  h1{
    font-weight: 300;
    font-size: 0.9rem;
    color: $bg;
  }
  .menu-mobile-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
  }
  span:not(.menu-button){
    font-size: 1rem;
    display: inline-block;
    margin: 25px 0%;
    color: $bg!important;
  }
}