@import "_mixins.scss";

.menu{
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    transition: all 0.25s;
    z-index: 10;
    span{
        cursor: pointer;
        transition: all 0.15s;
        &:hover{
            opacity: 0.5;
        }
    }
    .right{
        display: flex;
        width: 25%;
        justify-content: space-between;
    }
    box-sizing: border-box;
    padding: 3% 7.5%;
    @include desktop{
      .right{
        width: 20%;
      }
    }
}

.menu-hidden{
  opacity: 0;
}
.menu-appear{
  background-color: white;
  opacity: 1;
}
.menu-shadow{
  -webkit-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.05);
  box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.05);
}
