@import "_mixins.scss";

.student-info-container{
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 50;
  transition: all 0.35s ease-out;
  .student-info{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100vh;
    background-color: white;
    -webkit-box-shadow: -5px 0px 20px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: -5px 0px 20px 0px rgba(0,0,0,0.1);
    box-shadow: -5px 0px 20px 0px rgba(0,0,0,0.1);
    transition: all 0.35s ease-out;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .left, .right{
      width: 50%;
      box-sizing: border-box;
    }
    .left{
      display: flex;
      flex-direction: column;
      padding: 7.5% 3.75% 0% 7.5%;
      .student-info-portrait{
        margin-bottom: 7.5%;
        position: relative;
        width: 100%;
        padding-top: 100%;
        .portrait, .overlay1, .overlay2{
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }
        .overlay1, .overlay2{
          transition: all 0.2s;
          z-index: 1;
          content: '',
        }
        .overlay1{
          mix-blend-mode: screen;
        }
        .overlay2{
          mix-blend-mode: multiply;
        }
        .portrait{
          background-position: center;
          background-size: cover;
          z-index: 0;
        }
      }
      .student-info-fav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 2.5%;
        h3, h4 {
          margin: 0%;
          text-align: left;
          font-size: 0.875rem;
          flex: 1;
          line-height: 1.25rem;
        }
        h4{
          font-weight: 300;
          div{
            width: 10px;
            height: 10px;
            display: inline-block;
            margin-left: 5px;
          }
        }
      }
    }
    .right{
      padding: 0% 7.5% 0% 3.75%;
      margin-top: 20%;
      ::-webkit-scrollbar { 
        display: none; 
      }
      h1{
        font-size: 2rem;
      }
      p{
        font-size: 0.95rem;
        line-height: 1.65rem;
        margin: 5% 0%;
      }
      p.focus{
        color: rgba($text, 0.5);
        font-weight: 400;
      }
      .links{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        a{
          font-size: 0.9rem;
          display: inline-block;
          margin: 1.5% 0%;
        }
      }
    }
    @include laptop{
      width: 60%;
      .right{
        margin-top: 15%;
        h1{
          font-size: 1.5rem;
        }
        p{
          font-size: 0.8rem;
          line-height: 1.25rem;
          margin: 5% 0%;
        }
        a{
          font-size: 0.8rem;
        }
      }
    }
    @include mobile{
      width: 100%;
      flex-direction: column;
      padding: 5% 7.5%;
      box-sizing: border-box;
      overflow: scroll;
      .close-button{
        cursor: pointer;
        font-size: 2rem;
        opacity: 0.5;
        margin-bottom: 7.5%;
        text-align: left;
      }
      .portrait{
        width: 100%;
        padding-bottom: 100%;
        background-position: center;
        background-size: cover;
      }
      h1{
        font-size: 1.5rem;
      }
      p{
        font-size: 0.85rem;
        line-height: 1.25rem;
        margin: 0% 0% 5% 0%;
      }
      .links{
        margin-bottom: 7.5%;
        a{
          margin-right: 10px;
        }
      }
      .student-info-fav{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2.5%;
        h3, h4{
          font-size: 0.9rem;
          line-height: 1rem;
          margin: 0%;
        }
        div{
          width: 10px;
          height: 10px;
          display: inline-block;
          margin-right: 5px;
        }
      }
    }
  }
}
